{% extends 'admin/base.html.twig' %}

{% block title %}Edit Recipe{% endblock %}

{% block body %}
    <h1>Edit Recipe</h1>

    {{ form_start(recipe_form) }}
        {{ form_widget(recipe_form) }}
        <button class="btn">Save</button>
    {{ form_end(recipe_form) }}

    <a href="{{ path('admin_recipe_index') }}">back to list</a>
{% endblock %}
